[submodule "spf13-vim-3"]
	path = spf13-vim-3
	url = https://github.com/spf13/spf13-vim.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
