[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "st"]
	path = st
	url = https://github.com/sileht/st.git
[submodule "nord-dircolors"]
	path = nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
[submodule "js-langserver"]
	path = js-langserver
	url = https://github.com/tbodt/js-langserver
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "zinit/bin"]
	path = zinit/bin
	url = https://github.com/zdharma/zinit.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
